<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<boby>

  <h1>Make your Story!</h1>

  <img src = 'http://www.contec.com.bo/capacitacion/main/default_course_document/images/mr_dokeos/animated/thinkerAnim.gif'>

  <form action = '/response' method = "POST">
    Noun
    <input type = "text" name = "noun1"></br></br>
    Plural Noun
    <input type = "text" name = "pluralnoun1"></br></br>
    Adjetive
    <input type = "text" name = "adj1"></br></br>
    Verb
    <input type = "text" name = "verb1"></br></br>
    Verb
    <input type = "text" name = "verb2"></br></br>
    Verb
    <input type = "text" name = "verb3"></br></br>
    Verb
    <input type = "text" name = "verb4"></br></br>
    (Plural) Noun
    <input type = "text" name = "pluralnoun2"></br></br>
    Adjetive
    <input type = "text" name = "adj2"></br></br>
    Verb
    <input type = "text" name = "verb5"></br></br>
    Verb
    <input type = "text" name = "verb6"></br></br>
    Verb
    <input type = "text" name = "verb7"></br></br>
    Noun
    <input type = "text" name = "noun2"></br></br>
    <button type = "submit">See Your Story</button>
  </form>
</body>
</html>
